:root {
  --primary-color: hsl(25, 97%, 53%);
  --text-color: hsl(0, 0%, 100%);
  --gray-1: hsl(217, 12%, 63%);
  --gray-2: hsl(216, 12%, 54%);
  --blue-1: hsl(213, 19%, 18%);
  --bg-color: hsl(216, 12%, 8%);
}

body {
  background-color: var(--bg-color);
  font-family: "Bellefair", serif;
  color: var(--text-color);
  font-size: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-inline: 5%;
}

.rating-page {
  width: 400px;
  height: 370px;
  background: linear-gradient(
    90deg,
    rgba(31, 38, 48, 1) 0%,
    rgba(20, 21, 25, 1) 200%
  );
  background-color: var(--blue-1);
  border-radius: 25px;
}

.icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2.2em;
}

.icon > img {
  background-color: var(--blue-1);
  border-radius: 100%;
  padding: 0.8em;
  max-width: 50px;
  max-height: 50px;
}

.content {
  padding-inline: 2em;
}

.content > h1 {
  font-weight: 700;
  padding-block: 0.5em;
  margin-top: -0.8em;
}

.content > p {
  color: var(--gray-1);
  line-height: 1.5em;
  max-width: 90%;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
  position: relative;
}

.rating > li {
  background-color: var(--blue-1);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button {
  width: 100%;
  padding-block: 1.2em;
  border: none;
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
  margin: 1.5em 1em 0 0;
  letter-spacing: 0.2em;
  /* box-shadow: 2px 3px 20px 5px; For lighting */
}

button:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

@media (max-width: 375px) {
  .rating-page {
    width: 250px;
  }
  .rating > li {
    padding-inline: 5px;
    margin-inline: 5px;
  }
}

.thanks-page {
  display: none;
  width: 400px;
  height: 370px;
  background: linear-gradient(
    90deg,
    rgba(31, 38, 48, 1) 0%,
    rgba(20, 21, 25, 1) 200%
  );
  background-color: var(--blue-1);
  border-radius: 25px;
}

.thanks-page > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 35%;
}

.thanks-page > .sub-head {
  color: var(--primary-color);
  background-color: var(--blue-1);
  max-width: 40%;
  border-radius: 20px;
  margin-inline: auto;
  margin-block: 1.5em;
  text-align: center;
  padding-block: 0.2em;
}

.content > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.content > p {
  text-align: center;
  margin: auto;
  line-height: 1.5em;
  max-width: 85%;
}

@media (max-width: 375px) {
  .thanks-page {
    width: 250px;
  }
  .sub-head {
    font-size: 0.9em;
  }
  h1 {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
  }
}

footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

footer > .attribution > a {
  color: var(--primary-color);
  font-weight: 700;
}
